body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0);
background-size: cover;
}

.container{
    background-color: rgba(255, 255, 255, 0.9) ;
    padding: 2rem;
}
.grid {
    border: 1px solid black;
    height: 360px;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    height: 40px;
    width: 40px;
}

.button {
    width: 360px;
    margin-top: 10px ;
}

button{
    margin-left: 35%;
    background-color: rgba(172, 255, 47, 0.808);
    padding: 4px;
}
.ending-block{
    background-color: red;
}

.l4,
.l5 {
    background-color: rgb(54, 179, 221);
}

.l1,
.l3 {
    background-image: url(images/logT1.png);
}

.l2 {
    background-image: url(images/logT2.png);
}

.cl2,
.cl3,
.cr2,
.cr3 {
    background-color: rgb(26, 24, 24);
}

.cr1{
    background-image: url(images/Rcar.PNG);
}

.cl1{
    background-image: url(images/Lcar.PNG);
}

.starting-block{
    background-color: rgba(27, 2, 253, 0.75);
}

.frog {
    background-image: url(images/frog.png);
}


