body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0);
background-size: cover;
}

.container{
    background-color: rgba(255, 255, 255, 0.9) ;
    padding: 2rem;
}
.grid {
    border: 1px solid black;
    height: 360px;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    height: 40px;
    width: 40px;
}

.button {
    width: 360px;
    margin-top: 10px ;
}

button{
    margin-left: 35%;
    background-color: rgba(172, 255, 47, 0.808);
    padding: 4px;
}
.ending-block{
    background-color: red;
}

.left-river,
.right-river {
    background-color: rgba(0, 191, 255, 0.70);
}

.left-car, 
.right-car {
    background-color: rgba(0, 0, 0, 0.85);
}

.starting-block{
    background-color: rgba(27, 2, 253, 0.75);
}

.frog {
    background-image: url(frog.png);
}
.l1,
.l2,
.l3
{
    background-color: brown;
}

.l4,
.l5{
        background-color: rgba(0, 191, 255, 0.70);
}
